// Clear defaults
a {

  &,
  &:hover,
  &:active,
  &:visited {
    color: inherit;
    text-decoration: none;
  }
}

// Fonts

html {
  font-family: $ffSec;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $col-gray-1;
  @media (min-width: $largePhone) {
    font-size: $base-font-size-large-phone;
  }
  @media (min-width: $tablet) {
    font-size: $base-font-size-tablet;
  }
  @media (min-width: $largeTablet) {
    font-size: $base-font-size-large-tablet;
  }
  @media (min-width: $desktop) {
    font-size: $base-font-size-desktop;
  }
}

p {
	font-family: $ffSec;
  font-size: $fzPar;
  line-height: $lhPar;
  font-weight: 400;
}

// Transitions
.fade-enter-active {
  transition: opacity .3s;
}

.fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

// Sweetalert

.sweetalert-button {
  @include button($isSweetalert: true);
}